@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-alpha-surface text-alpha-body font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-alpha-deep font-bold;
  }
}

